@model Entity.Bookmark

@{
    ViewData["Title"] = "Create";
}

<h4>Create Bookmark (Using AJAX call)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="create-bookmark">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="URL" class="control-label"></label>
                <input id="url" asp-for="URL" class="form-control" required/>
                <span asp-validation-for="URL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <input id="short-desc" asp-for="ShortDescription" class="form-control" required/>
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select id="category-id" asp-for="CategoryId" class="form-control" asp-items="ViewBag.Category"></select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
        <span id="response"></span>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    $(document).ready(function () {

        $("#create-bookmark").submit(function (event) {
            event.preventDefault();
            var url = $('#url').val();
            var shortDesc = $('#short-desc').val();

            var formData = { 
                'url': url, 
                'shortDescription': shortDesc, 
                'categoryId': $('#category-id :selected').val()
            }

            $.ajax({
                url: '/api/BookmarksApi',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function(response){
                    console.log(response);
                    $('#response').html('<h2>Successfully added</h2>');
                    $('#create-bookmark input').val('');
                },
                error: function(xhr, status, error){
                    alert(status + ' ' + error)
                }
            })
        });

    });
</script>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@